# ignore raw files
Database/raw/*/**/dev
Database/raw/*/**/test
results
**/tmp

# ignore notebooks
**.ipynb

# ignore excel files
**.xlsx

# ignore openai api keys
**/*.env

#ignore .jsonl file for batch process
**/*basic.jsonl
**/*impact.jsonl

# ... except for this excel file (gold flat-format annotation table)
!Database/gold/ImpactDB_DataTable_Validation.xlsx

# ignore pycache
**/__pycache__

# ignore mac-related files
.DS_Store

# ignore geopy cache (used for normalizing locations faster)
geopy_cache.sqlite

# pytest
.pytest_*
