# ignore dev files
results
.env
Database/raw/*.xlsx
# ignore pycache
*/__pycache__

# ignore mac-related files
.DS_Store

# ignore geopy cache (used for normalizing locations faster)
geopy_cache.sqlite
